{% extends 'templating.html' %}
    {% load static %}
        {% block metatag %}
            
        {% endblock %}
        {% block content %}
        
        <!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>About</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <section class="about-section about-page pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-item">
                            <span>
                                <i class="flaticon-care-about-plants"></i>
                                About us
                            </span>
                            <h3>An international independent Charity organization</h3>
                            <p class="main-color">
                                Your support will help us to make life better living for poor vulnerable children  consectetur adipisicing elit, sed do
                            </p>
                            <p>Konin wansis dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-image">
                            <img src="{% static 'img/about/1.jpg' %}" class="shadow about-page-img" alt="image">
                            <img src="{% static 'img/about/2.jpg' %}" class="shadow" alt="image">
                        </div>

                        <div class="about-video">
                            <a href="https://www.youtube.com/watch?v=uemObN8_dcw" class="video-btn popup-youtube">
                                <i class="bx bx-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Mission Area -->
        <section class="mission-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <div class="mission-image">
                            <img src="{% static 'img/mission.png' %}" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
						<div class="mission-tab">
                            <span>
                                <i class="flaticon-target"></i>
                                Our Mission
                            </span>
							<h2>Concern about Our Mission</h2>
							<div class="tab mission-list-tab">
								<ul class="tabs">
									<li>
										<a href="#">
											Our Mission
										</a>
									</li>
									<li>
										<a href="#">
											Our Vision
										</a>
									</li>
									<li>
										<a href="#">
											Our Goal
										</a>
									</li>
                                </ul>
                                
								<div class="tab_content">
									<div class="tabs_item">
										<p>Upliftment of disable and orphan children So that they can also achieve their dreams very well.</p>
										<a class="default-btn" href="#">
                                            Our Mission
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>

                                    <div class="tabs_item">
										<p>Upliftment of disable and orphan children So that they can also achieve their dreams very well.</p>
										<a class="default-btn" href="#">
                                            Our Vision
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>

                                    <div class="tabs_item">
										<p>Our Goal is to educate less fortunate children to increase the rate of literacy in the country and Provide healthcare facilities in the weaker children of society.</p>
										<a class="default-btn" href="#">
                                            Our Goal
                                            <span></span>
                                            <i class="flaticon-right"></i>
										</a>
                                    </div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </section>
        <!-- End Mission Area -->  

        <!-- Start Team Area -->
        <section class="team-section pt-100 pb-70">
            <div class="container">
                <div class="team-title-area">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="section-title text-left">
                                <span>
                                    <i class="flaticon-support"></i>
                                    Meet Our Team
                                </span>
                                <h2>Talented Team behind Huruma</h2>
                                <p>Quis ipsum suspendice consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendices gravida.</p>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="team-btn text-right">
                                <a href="#" class="optional-btn">
                                    Meet Our Team
                                    <i class="flaticon-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="{% static 'img/team/1.png' %}" alt="image">
    
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="content">
                                <h3>Alex Maxwel</h3>
                                <span>CEO & Founder</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="{% static 'img/team/2.png' %}" alt="image">
    
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="content">
                                <h3>Williams Halimton</h3>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item">
                            <div class="image">
                                <img src="{% static 'img/team/3.png' %}" alt="image">
    
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="content">
                                <h3>Ched Kurtsovski</h3>
                                <span>Volunteer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Testimonials Area -->
        <section class="testimonials-section pb-100">
            <div class="container">
                <div class="section-title">
                    <span>
                        <i class="flaticon-testimonial"></i>
                        Testimonials
                    </span>
                    <h2>Don’t Believe Us? See review</h2>
                </div>

                <div class="feedback-slider owl-carousel owl-theme">
                    <div class="feedback-item">
                        <div class="content">
                            <h3>It’s just amazed us to be with you”</h3>
                            <p>Every works inton sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad will not be does.</p>

                            <div class="info">
                                <img src="{% static 'img/client/1.jpg" alt="image">
                                <h4>Morgan Ando</h4>
                                <span>Ustino Charity Canada</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback-item">
                        <div class="content">
                            <h3>Precious Journey with you”</h3>
                            <p>Every works inton sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad will not be does.</p>

                            <div class="info">
                                <img src="{% static 'img/client/2.jpg' %}" alt="image">
                                <h4>Juhan Luis</h4>
                                <span>Charity Bingo UK</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback-item">
                        <div class="content">
                            <h3>It’s just amazed us to be with you”</h3>
                            <p>Every works inton sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad will not be does.</p>

                            <div class="info">
                                <img src="{% static 'img/client/1.jpg' %}" alt="image">
                                <h4>Morgan Ando</h4>
                                <span>Ustino Charity Canada</span>
                            </div>
                        </div>
                    </div>

                    <div class="feedback-item">
                        <div class="content">
                            <h3>Precious Journey with you”</h3>
                            <p>Every works inton sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad will not be does.</p>

                            <div class="info">
                                <img src="{% static 'img/client/2.jpg' %}" alt="image">
                                <h4>Juhan Luis</h4>
                                <span>Charity Bingo UK</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Area -->

        <!-- Start Instagram Area -->
        <div class="instagram-area">
            <div class="instagram-slides owl-carousel owl-theme">
                <div class="instagram-box">
                    <img src="{% static 'img/instagram/1.jpg' %}" alt="image">

                    <div class="icon">
                        <i class="flaticon-instagram"></i>
                    </div>

                    <a href="https://www.instagram.com/" target="_blank"></a>
                </div>

                <div class="instagram-box">
                    <img src="{% static 'img/instagram/2.jpg' %}" alt="image">

                    <div class="icon">
                        <i class="flaticon-instagram"></i>
                    </div>

                    <a href="https://www.instagram.com/" target="_blank"></a>
                </div>

                <div class="instagram-box">
                    <img src="{% static 'img/instagram/3.jpg' %}" alt="image">

                    <div class="icon">
                        <i class="flaticon-instagram"></i>
                    </div>

                    <a href="https://www.instagram.com/" target="_blank"></a>
                </div>

                <div class="instagram-box">
                    <img src="{% static 'img/instagram/4.jpg' %}" alt="image">

                    <div class="icon">
                        <i class="flaticon-instagram"></i>
                    </div>

                    <a href="https://www.instagram.com/" target="_blank"></a>
                </div>

                <div class="instagram-box">
                    <img src="{% static 'img/instagram/5.jpg' %}" alt="image">

                    <div class="icon">
                        <i class="flaticon-instagram"></i>
                    </div>

                    <a href="https://www.instagram.com/" target="_blank"></a>
                </div>
            </div>
        </div>
        <!-- End Instagram Area -->
        {% endblock %}